<html>
<head>
  <title>Okay</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
</head>

<body>
<br/>
<div class="container">
  <div class="jumbotron">
    <h1>Okay</h1>
    <p>An "A-Okay" way to enhance your browser application.</p>
    <p><a href="http://github.com/sourcery/okay" class="btn btn-primary btn-large">Source</a></p>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-title">How it works</h1>

      <div class="lead">Okay Enhances HTML with data-attributes and JSON</div>

          <pre class="hightlight">&lt;html&gt;
  &lt;label for='amazing'&gt;
    &lt;input type='checkbox' data-emit='{"amazing": "[checked]"}'&gt; Amazing
  &lt;/label&gt;

  &lt;div data-watch-class='{"amazing":"hidden"}'&gt;
    Why isn't this amazing? &lt;a href="mailto:d@getsourcery.com"&gt;Let me know!&lt;/a&gt;
  &lt;/div&gt;

  &lt;script src='./path/to/okay.js'&gt;&lt;/script&gt;
&lt;/html&gt;</pre>

      <div class="panel panel-default">
        <div class="panel-heading">Try it out!</div>
        <div class="panel-body">
          <label>
            <input type='checkbox' data-emit='{"amazing": "[checked]"}'> Amazing
          </label>

          <div data-watch-class='{"amazing":"hidden"}'>
            What isn't amazing? <a href="mailto:d@getsourcery.com" target="_BLANK">Let me know!</a>
          </div>
        </div>
      </div>
      <hr/>
      <br/>

      <h1 class="page-title">More examples</h1>
      <% examples.each do |(name, html, basename)| %>
        <div class="lead"><%= name %></div>
        <pre class="hightlight"><%=  CGI.escapeHTML(html) %></pre>
        <div class="panel panel-default">
          <div class="panel-heading">Try it out!</div>
          <div class="panel-body">
            <%= html %>
          </div>
        </div>
        <hr/>
        <br/>
      <% end %>

      <div>
        Made by
        <a href="http://getsourcery.com">
          <img src="sourcery-logo.png" width="90" style="position: relative; top: -2px;" />
        </a>
      </div>

      <br/>
      <br/>
      <br/>

      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
      <script src='./dist/okay.js'></script>
      <script type="text/javascript">
          (function() {
              var highlights = Array.prototype.slice.apply(document.querySelectorAll('.hightlight'));
              highlights.forEach(function(hightlight) { hljs.highlightBlock(hightlight); });
          })();
      </script>
    </div>
  </div>
</div>
</body>
</html>
